<li>
	{{burger_name}}
	{{#if devoured}}
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		DEVOUR IT!
		{{!-- {{#if devoured}}DEVOUR IT!{{else}}UNDEVOUR!{{/if}} --}}
	</button>
	{{/if}}
	{{#if devoured}}{{else}}
	<button class="delete-burger" data-id="{{this.id}}">

		DELETE!</button>
	{{/if}}
</li>